{
BasedOnStyle: Google,
AlignAfterOpenBracket: DontAlign,
AlignConsecutiveAssignments: 'false',
AlignConsecutiveDeclarations: 'false',
AlignOperands: 'true',
ColumnLimit: '400',
Cpp11BracedListStyle: 'true',
IndentWrappedFunctionNames: 'false',
MaxEmptyLinesToKeep: '2',
PenaltyBreakBeforeFirstCallParameter: '0',
SpaceAfterCStyleCast: 'false',
SpacesBeforeTrailingComments: '1',
SpacesInAngles: 'true',
SpacesInCStyleCastParentheses: 'true',
SpacesInParentheses: 'true',
SpacesInSquareBrackets: 'true',
Standard: Cpp11,
AllowShortBlocksOnASingleLine: 'false',
AllowShortCaseLabelsOnASingleLine: 'false',
AllowShortFunctionsOnASingleLine: Empty,
AllowShortIfStatementsOnASingleLine: 'false',
AllowShortLoopsOnASingleLine: 'false',
UseTab: Always,
TabWidth: 4,
ConstructorInitializerIndentWidth: 4,
ContinuationIndentWidth: 4,
IndentWidth: 4,
AccessModifierOffset: -4,
}